# Auth key that authenticates request to our notifier service.
# Any outside service which wants to communicate with our service must have the same key
# passed via `auth-key` header in its request.
AUTH_KEY=internal_auth_key